In [11]:
import pandas as pd
import numpy as np
import requests
import datetime as dt


page = 1

result_list = list()

while True:

    url = f"https://apewisdom.io/api/v1.0/filter/all-stocks/page/{page}"

    response = requests.get(url)

    for result in response.json()["results"]:
        result_list.append(result)

    page += 1

    if not response.json()["results"]:
        break

df = pd.DataFrame(result_list)

# Transformations
df.loc[df["rank_24h_ago"] == "0", "rank_24h_ago"] = None
df.loc[df["mentions_24h_ago"].isnull(), "mentions_24h_ago"] = "0"
df.loc[df["mentions"].isnull(), "mentions"] = "0"
df.loc[df["upvotes"].isnull(), "upvotes"] = "0"


df = df.astype({"rank": "int32",
        "ticker": "object",
        "name": "object",
        "mentions": "int32",
        "upvotes": "int32",
        "rank_24h_ago": "object",
        "mentions_24h_ago": "int32"})

df

,rank,ticker,name,mentions,upvotes,rank_24h_ago,mentions_24h_ago
0,1,TSLA,Tesla,967,32392,5,181
1,2,SPY,SPDR S&amp;P 500 ETF Trust,312,987,3,344
2,3,AI,C3 AI,278,1986,2,371
3,4,NVDA,NVIDIA,245,756,4,216
4,5,FRC,First Republic Bank,154,1083,7,106
...,...,...,...,...,...,...,...
1104,1105,TTM,Tata Motors,1,3,194,4
1105,1106,CE,Celanese,1,0,1055,0
1106,1107,CTRA,Coterra Energy,1,0,None,0
1107,1108,OPK,OPKO Health,1,2,1057,1
1108,1109,PLUG,Plug Power,1,4,1060,1

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1108 entries, 0 to 1107
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rank              1108 non-null   int32
 1   ticker            1108 non-null   object
 2   name              1108 non-null   object
 3   mentions          1108 non-null   int32
 4   upvotes           1108 non-null   int32
 5   rank_24h_ago      956 non-null    object
 6   mentions_24h_ago  1108 non-null   int32
dtypes: int32(4), object(3)
memory usage: 43.4+ KB

In [12]:
sum([3,3,4,4,7,5,1,9,6,8,12,29,71,58,36,29,22,19,21,14,9,7,8,6,8,7,3,17,13,22,16,11,10,9,11,9,6,7,1,1,2,8,4,2,2,4,3,2,2,6,4,2,2,1,3,2,3,3,1,1,2,2,0,1,4,0,0,0,0,2,0,1,0,2,3,0,0,2,0,1,2,1,4,1,0,1,6,1,2,1,3,2,2,0,1,1,5,2,3,2,2,3,3,5,8,5,6,4,5,3,7,6,12,9,14,7,14,12,8,6,6,4,2,5,3,8,7,6,5,4,13,5,12,19,22,7,6,5,9,5,9,4,1,2])

967