In [59]:
import pandas as pd
import datetime as dt
from sqlalchemy import create_engine

In [60]:
engine_staging_area = create_engine('postgresql+psycopg2://postgres:travelblogger24.de@localhost:5431/stocks_sentiment_staging')
engine_dwh = create_engine('postgresql+psycopg2://postgres:travelblogger24.de@localhost:5431/stocks_sentiment_dwh')

In [61]:
max_date_stock_mentions_by_day_dwh = pd.read_sql("SELECT max(date_time) as max_date_time FROM stock_mentions_by_day", engine_dwh).iloc[0,0]
max_date_stock_mentions_by_minute_dwh = pd.read_sql("SELECT max(date_time) as max_date_time FROM stock_mentions_by_minute", engine_dwh).iloc[0,0]

In [62]:
max_date_stock_mentions_by_day_dwh.strftime('%Y-%m-%d %X')

'2023-04-22 16:02:41'

In [63]:
stocks_dwh = pd.read_sql("SELECT ticker_symbol from stock", engine_dwh)

In [64]:
stocks_dwh["ticker_symbol"].to_list()

['SPY',
 'FRC',
 'AI',
 'DTE',
 'TSLA',
 'QQQ',
 'NVDA',
 'AMZN',
 'AAPL',
 'SQM',
 'MSFT',
 'ALB',
 'IRS',
 'ICE',
 'ES',
 'IT',
 'KO',
 'CD',
 'TA',
 'LYFT',
 'VTI',
 'GOOG',
 'AMC',
 'IBKR',
 'AM',
 'CC',
 'BUD',
 'SNAP',
 'GOAT',
 'CPA',
 'GM',
 'YOU',
 'WAL',
 'META',
 'ARVL',
 'UBER',
 'DM',
 'TQQQ',
 'SP',
 'MCD',
 'VOO',
 'ME',
 'AMD',
 'VC',
 'GOOGL',
 'ON',
 'SQQQ',
 'BBBY',
 'JPM',
 'AGI',
 'UVXY',
 'BOIL',
 'BAC',
 'SO',
 'IQ',
 'CIA',
 'USAU',
 'WISH',
 'XOM',
 'UPS',
 'PR',
 'DE',
 'NVO',
 'DKNG',
 'TSM',
 'EU',
 'CBOE',
 'PTLO',
 'DOW',
 'CS',
 'NOW',
 'GO',
 'UNH',
 'ENPH',
 'ESG',
 'PXMD',
 'ASO',
 'SCHW',
 'ATLX',
 'UI',
 'DO',
 'VT',
 'GME',
 'UP',
 'LULU',
 'SA',
 'FCX',
 'CMG',
 'JEPI',
 'BABA',
 'PT',
 'VXUS',
 'AR',
 'DAX',
 'LOVE',
 'DC',
 'SCHD',
 'ALL',
 'LNG',
 'TM',
 'CAC',
 'AB',
 'FA',
 'DEA',
 'COO',
 'TD',
 'OG',
 'ZIM',
 'FCF',
 'CAR',
 'HR',
 'TLH',
 'WW',
 'PFS',
 'BFRG',
 'RS',
 'LLY',
 'C',
 'USO',
 'BMI',
 'MS',
 'JUST',
 'MAC',
 'BABY',
 'BYD',
 'BTU',
 'SNAX',
 'MF',
 'FXH',
 'IG',
 'RE',
 'CRM',
 'PACW',
 'CR',
 'MSM',
 'AA',
 'RY',
 'SIVB',
 'DRIP',
 'ETN',
 'SF',
 'OC',
 'INT',
 'NEXT',
 'IIPR',
 'MA',
 'MULN',
 'TRKA',
 'VVV',
 'SCHB',
 'ET',
 'MP',
 'GL',
 'SPXS',
 'DNA',
 'NYCB',
 'NETI',
 'NG',
 'WU',
 'RC',
 'IP',
 'RTX',
 'USB',
 'SMH',
 'BBIG',
 'BL',
 'PB',
 'VALE',
 'GE',
 'TRUE',
 'ARKK',
 'GLP',
 'TIL',
 'OZK',
 'BIG',
 'OR',
 'SBUX',
 'EDIT',
 'AN',
 'SOFI',
 'HUBG',
 'XOP',
 'WBD',
 'RL',
 'AUD',
 'ASA',
 'MTG',
 'BOOM',
 'CERT',
 'AMP',
 'RF',
 'PBR',
 'HBAN',
 'VZ',
 'MC',
 'RLAY',
 'MMS',
 'SEE',
 'BSM',
 'GD',
 'MNMD',
 'HE',
 'NI',
 'VICE',
 'SIL',
 'NNN',
 'OM',
 'TLT',
 'IREN',
 'NKLA',
 'VWO',
 'XP',
 'GT',
 'SIX',
 'FTEC',
 'ZION',
 'RSP',
 'UBS',
 'CROX',
 'DOLE',
 'AEP',
 'SSD',
 'ZS',
 'YY',
 'SH',
 'BHP',
 'QS',
 'GEHC',
 'CVNA',
 'SJ',
 'FAS',
 'DPST',
 'BJK',
 'ONTX',
 'DHR',
 'KB',
 'PYPL',
 'IWR',
 'APPS',
 'NFLX',
 'GPRO',
 'BIL',
 'DASH',
 'APE',
 'VXX',
 'OCUL',
 'BIDU',
 'EBAY',
 'TSP',
 'JMST',
 'TFLO',
 'SYF',
 'CLFD',
 'PG',
 'SHV',
 'BFRI',
 'UE',
 'ED',
 'NGE',
 'SGOV',
 'FFIE',
 'IONQ',
 'ANIX',
 'SMCI',
 'ABC',
 'FCEL',
 'SAFE',
 'FTS',
 'JWN',
 'BK',
 'VRTX',
 'SCI',
 'TAP',
 'FC',
 'HUBC',
 'CHAD',
 'EH',
 'VNQ',
 'NTLA',
 'DIS',
 'BNED',
 'ALPS',
 'WM',
 'MAGA',
 'CL',
 'WBA',
 'WELL',
 'RLJ',
 'FREL',
 'CASH',
 'LTHM',
 'PUMP',
 'XLK',
 'EVCM',
 'M',
 'IBEX',
 'RGR',
 'GPN',
 'REAL',
 'XLRE',
 'ATXG',
 'CHGG',
 'ALEX',
 'LZ',
 'FL',
 'NUGT',
 'CPG',
 'HY',
 'FSR',
 'USFR',
 'TECK',
 'DB',
 'WWE',
 'FE',
 'ARCC',
 'VV',
 'DIA',
 'LEV',
 'MO',
 'AMT',
 'POOL',
 'JBHT',
 'HA',
 'VEA',
 'RIOT',
 'NFE',
 'CPRT',
 'GMBL',
 'MSTR',
 'LIT',
 'MSCI',
 'QQQM',
 'AKA',
 'ECL',
 'CF',
 'PY',
 'ROKU',
 'XM',
 'IEMG',
 'SPCE',
 'SDIG',
 'SWBI',
 'BTG',
 'JOBY',
 'JW',
 'AGR',
 'ASX',
 'AIR',
 'EXPR',
 'TK',
 'FAZ',
 'ROVR',
 'TWO',
 'GS',
 'FREE',
 'S',
 'HOV',
 'EVFM',
 'EXPE',
 'UPRO',
 'WMT',
 'KW',
 'DHI',
 'CUT',
 'CYTO',
 'PRE',
 'HL',
 'EPD',
 'AVUV',
 'WEJO',
 'POST',
 'QYLD',
 'DGRW',
 'ITT',
 'THC',
 'ST',
 'KBH',
 'GOEV',
 'JNK',
 'LH',
 'PDD',
 'SYM',
 'AL',
 'KE',
 'ESGV',
 'WE',
 'TH',
 'PHM',
 'CDW',
 'SJB',
 'WDFC',
 'GRAB',
 'JD',
 'AXON',
 'BB',
 'SE',
 'BLDR',
 'TXRH',
 'SPHD',
 'TAK',
 'PRO',
 'TWNK',
 'VICI',
 'SNDL',
 'LIFE',
 'BILL',
 'FSP',
 'ANY',
 'FSLR',
 'LTL',
 'FNY',
 'WF',
 'GLD',
 'ACH',
 'EGBN',
 'NEM',
 'OLPX',
 'IE',
 'LRCX',
 'XLV',
 'QCOM',
 'BW',
 'COM',
 'CSL',
 'DKS',
 'COF',
 'ULTA',
 'SOXS',
 'ZM',
 'EAT',
 'STER',
 'DAR',
 'GNS',
 'CW',
 'BARK',
 'SMG',
 'SOL',
 'OUT',
 'DS',
 'LEN',
 'FIS',
 'WMB',
 'GP',
 'COMB',
 'DSS',
 'ZH',
 'STC',
 'HAS',
 'SUB',
 'CHWY',
 'III',
 'EBR',
 'BIOL',
 'YELL',
 'NIO',
 'COOK',
 'PEG',
 'TX',
 'NGL',
 'JPST',
 'EA',
 'TECS',
 'MTNB',
 'LYTS',
 'ALDX',
 'LAW',
 'CMI',
 'PGY',
 'GOLD',
 'OPK',
 'CFA',
 'ARB',
 'BBAI',
 'IBRX',
 'BIOR',
 'CRSP',
 'RES',
 'TMUS',
 'MSGE',
 'BLK',
 'TNA',
 'F',
 'FUN',
 'SYRS',
 'IVV',
 'SD',
 'FIVE',
 'TBF',
 'BP',
 'CE',
 'GSK',
 'AXSM',
 'OXY',
 'ICLN',
 'TECH',
 'LPG',
 'FNA',
 'NOG',
 'CUZ',
 'MTTR',
 'LABU',
 'SWAV',
 'CG',
 'PBS',
 'FID',
 'NEAR',
 'TPL',
 'MDT',
 'NET',
 'GBIL',
 'TG',
 'VIXY',
 'VMI',
 'TW',
 'TRIP',
 'DLTR',
 'WB',
 'JAN',
 'PLAY',
 'AMAT',
 'ITOT',
 'BSX',
 'CLTL',
 'LMT',
 'APPH',
 'AIXI',
 'BJ',
 'THO',
 'UNP',
 'KR',
 'TDS',
 'LI',
 'ALLY',
 'PAM',
 'PL',
 'MTCH',
 'WSM',
 'HLT',
 'VSCO',
 'AEM',
 'BLGO',
 'WEN',
 'KEY',
 'TOL',
 'DG',
 'GIS',
 'VPN',
 'WINA',
 'XPEV',
 'SOBR',
 'YUM',
 'ASTI',
 'ITB',
 'UNG',
 'WOW',
 'BLUE',
 'NSC',
 'PEP',
 'FM',
 'UBX',
 'PLNT',
 'IWM',
 'CAPR',
 'SOXL',
 'SPYG',
 'OI',
 'T',
 'CN',
 'PPG',
 'LU',
 'SM',
 'WSO',
 'IWY',
 'CCL',
 'CEI',
 'VB',
 'REE',
 'BAM',
 'GBCI',
 'PAAS',
 'HCA',
 'SG',
 'NX',
 'NOGN',
 'BBY',
 'SR',
 'OLED',
 'FREY',
 'CO',
 'MX',
 'FLAU',
 'SPOT',
 'IBIO',
 'FFIN',
 'WPM',
 'SIM',
 'ISRG',
 'RIVN',
 'ASTS',
 'CHPT',
 'CMBS',
 'CQP',
 'QBTS',
 'MU',
 'RKLB',
 'RIO',
 'DGX',
 'ADP',
 'SFBS',
 'IRDM',
 'PSA',
 'HEAR',
 'TLRY',
 'MET',
 'BY',
 'SGML',
 'HGV',
 'CFR',
 'EVA',
 'PLL',
 'FANG',
 'MPW',
 'ERIC',
 'BE',
 'NOVA',
 'BOKF',
 'RUN',
 'BNGO',
 'CPT',
 'FTC',
 'RBLX',
 'XLF',
 'GOVT',
 'ZYME',
 'SAM',
 'SSB',
 'SMB',
 'AXP',
 'COST',
 'NOK',
 'QSR',
 'FOR',
 'REI',
 'MOH',
 'RAD',
 'GIC',
 'AAA',
 'WFH',
 'IRNT',
 'FICO',
 'EET',
 'KIND',
 'AWAY',
 'MAR',
 'RTH',
 'CIB',
 'FBNC',
 'STAR',
 'LL',
 'DWAC',
 'WKHS',
 'GPS',
 'BA',
 'SPXU',
 'OWLT',
 'VRAX',
 'NOV',
 'CLNE',
 'WK',
 'REM',
 'TELL',
 'WTI',
 'SQ',
 'TTE',
 'LFCR',
 'TALK',
 'HOPE',
 'CAN',
 'BNTX',
 'WEST',
 'GAIN',
 'LSDI',
 'CDMO',
 'DISH',
 'FITB',
 'SHE',
 'ATVI',
 'OEF',
 'MRNA',
 'MOGO',
 'IR',
 'USM',
 'MJ',
 'ACB',
 'XELA',
 'WETG',
 'NN',
 'BYND',
 'HP',
 'ATOS',
 'VIEW',
 'FN',
 'ZG',
 'UTES',
 'AUGX',
 'HYG',
 'NICE',
 'CVX',
 'DARE',
 'ROCK',
 'TS',
 'ATAI',
 'BZFD',
 'GPP',
 'ATKR',
 'MOM',
 'BEAT',
 'SU',
 'OFC',
 'RACE',
 'EL',
 'PFFA',
 'SCS',
 'KMX',
 'ADM',
 'OPEN',
 'CVS',
 'AFK',
 'CSX',
 'JNUG',
 'IBM',
 'PFF',
 'WING',
 'CENT',
 'CRLBF',
 'AMV',
 'BOTZ',
 'VKTX',
 'EMR',
 'EIX',
 'PFXF',
 'OCGN',
 'TMC',
 'WFC',
 'SFY',
 'CORN',
 'CPB',
 'LOAN',
 'UAE',
 'HSBC',
 'API',
 'STLA',
 'SPFF',
 'MDB',
 'NA',
 'PI',
 'KNX',
 'SMR',
 'SUNL',
 'YJ',
 'FOX',
 'MD',
 'O',
 'HTGC',
 'PREF',
 'MG',
 'CME',
 'WEAT',
 'XPO',
 'GEM',
 'ALLO',
 'WY',
 'LUMN',
 'AMR',
 'GEO',
 'BRDS',
 'PFFR',
 'PBI',
 'SPR',
 'CAT',
 'PLTR',
 'GREE',
 'MOD',
 'LAZR',
 'SIFY',
 'ENB',
 'ATER',
 'SPGP',
 'EC',
 'CSV',
 'BCH',
 'ARBK',
 'LMAT',
 'JOAN',
 'ATR',
 'TTD',
 'IMAX',
 'SAVA',
 'MARA',
 'STE',
 'PSNY',
 'ARGO',
 'MCRB',
 'XLG',
 'FR',
 'AEMD',
 'CFG',
 'CDL',
 'PAYC',
 'TNYA',
 'CB',
 'SPIR',
 'OMAB',
 'PRN',
 'RBC',
 'KRE',
 'NYT',
 'AIG',
 'DT',
 'RIDE',
 'ONON',
 'YANG',
 'MASI',
 'STEP',
 'PH',
 'RNA',
 'CCS',
 'COKE',
 'MAN',
 'HIFS',
 'INTC',
 'ROIC',
 'RMD',
 'TER',
 'FF',
 'INPX',
 'CMC',
 'BLNK',
 'CDNS',
 'IWF',
 'FISV',
 'BZ',
 'WANT',
 'COIN',
 'MTN',
 'FOUR',
 'SAVE',
 'BND',
 'IWB',
 'BRO',
 'WH',
 'ARR',
 'ARCH',
 'AFRM',
 'TFII',
 'DFS',
 'DIV',
 'BX',
 'HCC',
 'VUG',
 'DON',
 'DDD',
 'GET',
 'EYPT',
 'XLE',
 'ODFL',
 'RIG',
 'GFAI',
 'MINT',
 'ELF',
 'ORGN',
 'UEC',
 'CNQ',
 'SONY',
 'SHOP',
 'TFC',
 'AZO',
 'PNC',
 'FSLY',
 'SIDU',
 'MELI',
 'PARA',
 'MAX',
 'ACT',
 'ASML',
 'CSIQ',
 'JBL',
 'UPST',
 'AAL',
 'PACK',
 'CP',
 'DV',
 'SLB',
 'TAN',
 'BROS',
 'MID',
 'TDOC',
 'RRR',
 'ROM',
 'EDN',
 'PTPI',
 'GDX',
 'CM',
 'UCO',
 'JNJ',
 'SOXX',
 'TBT',
 'MGOL',
 'BEPC',
 'PGEN',
 'WT',
 'UAL',
 'CX',
 'BRSH',
 'JAGX',
 'OZ',
 'DRS',
 'YINN',
 'SAP',
 'PFE',
 'HD',
 'CLH',
 'AG',
 'AHH',
 'CSM',
 'NE',
 'BCC',
 'IBD',
 'PWR',
 'REV',
 'GNPX',
 'FDS',
 'BBC',
 'SPLG',
 'BC',
 'HTH',
 'ROG',
 'MAXN',
 'AC',
 'NVOS',
 'SEAC',
 'LCID',
 'NU',
 'CANO',
 'CMA',
 'EB',
 'TMF',
 'XBI',
 'SNA',
 'MGMT',
 'EDR',
 'KT',
 'SLP',
 'MMAT',
 'BASE',
 'PIK',
 'ZEV',
 'AGO',
 'TERM',
 'LX',
 'WSC',
 'NSA',
 'IDT',
 'CI',
 'TAC',
 'SACH',
 'CBD',
 'NC',
 'FFR',
 'PTON',
 'CTO',
 'DEI',
 'SSL',
 'HI',
 'YETI',
 'MAIN',
 'KOLD',
 'EVER',
 'SI',
 'AIM',
 'LVMUY',
 'MGRX',
 'PINE',
 'LVS',
 'STEM',
 'DBA',
 'TOST',
 'X',
 'WD',
 'STX',
 'IEP',
 'SPTM',
 'UST',
 'KMB',
 'HKD',
 'ICPT',
 'MGM',
 'JOE',
 'GPL',
 'BR',
 ...]

In [66]:
# Get data from staging area
if max_date_stock_mentions_by_day_dwh:
    df_stock_mentions_by_day = pd.read_sql(f"SELECT * FROM stocks_sentiment_agg_by_day WHERE date_pulled > '{max_date_stock_mentions_by_day_dwh.strftime('%Y-%m-%d %X')}'::TIMESTAMP", engine_staging_area)
else:
    df_stock_mentions_by_day = pd.read_sql("SELECT * FROM stocks_sentiment_agg_by_day", engine_staging_area)

In [68]:
if max_date_stock_mentions_by_minute_dwh:
    df_stock_mentions_by_minute = pd.read_sql(f"SELECT * FROM stocks_sentiment_details WHERE date_time_mentions > '{max_date_stock_mentions_by_minute_dwh.strftime('%Y-%m-%d %X')}'::TIMESTAMP", engine_staging_area)
else:
    df_stock_mentions_by_minute = pd.read_sql("SELECT * FROM stocks_sentiment_details", engine_staging_area)

In [70]:
df_stock_mentions_by_day

Empty DataFrame
Columns: [id, date_pulled, rank, ticker_symbol, name, mentions, upvotes, rank_24h_ago, mentions_24h_ago, sentiment_score, keywords]
Index: []

In [8]:
def check_if_stock_in_dwh(ticker_symbol):
    if not ticker_symbol in stocks_dwh["ticker_symbol"].to_list():
        return True
    return False

In [9]:
df_stock_mentions_by_day["to_upload_in_stocks"] = df_stock_mentions_by_day["ticker_symbol"].apply(check_if_stock_in_dwh)

In [10]:
df_stocks_to_upload = df_stock_mentions_by_day.loc[df_stock_mentions_by_day["to_upload_in_stocks"] == True][["ticker_symbol", "name"]]

In [11]:
df_stocks_to_upload.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1013 entries, 0 to 1012
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ticker_symbol  1013 non-null   object
 1   name           1013 non-null   object
dtypes: object(2)
memory usage: 23.7+ KB

In [12]:
df_stocks_to_upload

     ticker_symbol                                               name
0              SPY                         SPDR S&amp;P 500 ETF Trust
1              FRC                                First Republic Bank
2               AI                                              C3 AI
3              DTE                                         DTE Energy
4             TSLA                                              Tesla
...            ...                                                ...
1008          PLUG                                         Plug Power
1009            GB                                  Global Blue Group
1010          SCHZ  Schwab Strategic Trust - CSIM Schwab US Aggreg...
1011            UL                                           Unilever
1012           BHB                              Bar Harbor Bankshares

[1013 rows x 2 columns]

In [13]:
df_stock_mentions_by_day

,id,date_pulled,rank,ticker_symbol,name,mentions,upvotes,rank_24h_ago,mentions_24h_ago,sentiment_score,keywords,to_upload_in_stocks
0,1083,2023-04-22 16:02:41,1,SPY,SPDR S&amp;P 500 ETF Trust,171,506,2.0,292,56.0,"{'bet': 20, 'made': 18, 'within': 16, 'up': 13...",True
1,1084,2023-04-22 16:02:41,2,FRC,First Republic Bank,131,1510,7.0,96,66.0,"{'calls': 14, 'bought': 11, 'earnings': 11, 'm...",True
2,1085,2023-04-22 16:02:41,3,AI,C3 AI,127,625,4.0,177,57.0,"{'manage': 7, 'companies': 5, 'these': 5, 'wri...",True
3,1086,2023-04-22 16:02:41,4,DTE,DTE Energy,91,1563,8.0,84,45.0,"{'puts': 10, 'options': 9, 'spy': 6, 'calls': ...",True
4,1087,2023-04-22 16:02:41,5,TSLA,Tesla,80,209,1.0,411,74.0,"{'bet': 8, 'bought': 7, 'up': 7, 'calls': 6, '...",True
...,...,...,...,...,...,...,...,...,...,...,...,...
1008,2091,2023-04-22 16:02:41,1009,PLUG,Plug Power,1,1,1042.0,1,0.0,{'done': 1},True
1009,2092,2023-04-22 16:02:41,1010,GB,Global Blue Group,1,1,665.0,0,0.0,"{'tablet': 1, 'gigabytes': 1, 'data': 1, 'most...",True
1010,2093,2023-04-22 16:02:41,1011,SCHZ,Schwab Strategic Trust - CSIM Schwab US Aggreg...,1,0,NaN,0,0.0,"{'aggregate': 1, 'bond': 1, 'index': 1, 'etf':...",True
1011,2094,2023-04-22 16:02:41,1012,UL,Unilever,1,3,1043.0,1,0.0,{},True
1012,2095,2023-04-22 16:02:41,1013,BHB,Bar Harbor Bankshares,1,1,NaN,0,0.0,"{'beebower': 1, 'hood': 1, 'brinson': 1, 'dete...",True

In [14]:
df_keywords_to_upload = df_stock_mentions_by_day.loc[df_stock_mentions_by_day["keywords"].notnull() & df_stock_mentions_by_day["keywords"]][["ticker_symbol", "date_pulled", "keywords"]]

In [15]:
df_keywords_to_upload

,ticker_symbol,date_pulled,keywords
0,SPY,2023-04-22 16:02:41,"{'bet': 20, 'made': 18, 'within': 16, 'up': 13..."
1,FRC,2023-04-22 16:02:41,"{'calls': 14, 'bought': 11, 'earnings': 11, 'm..."
2,AI,2023-04-22 16:02:41,"{'manage': 7, 'companies': 5, 'these': 5, 'wri..."
3,DTE,2023-04-22 16:02:41,"{'puts': 10, 'options': 9, 'spy': 6, 'calls': ..."
4,TSLA,2023-04-22 16:02:41,"{'bet': 8, 'bought': 7, 'up': 7, 'calls': 6, '..."
...,...,...,...
1007,SKY,2023-04-22 16:02:41,"{'cobra': 1, 'meeting': 1, 'saturday': 1, 'sud..."
1008,PLUG,2023-04-22 16:02:41,{'done': 1}
1009,GB,2023-04-22 16:02:41,"{'tablet': 1, 'gigabytes': 1, 'data': 1, 'most..."
1010,SCHZ,2023-04-22 16:02:41,"{'aggregate': 1, 'bond': 1, 'index': 1, 'etf':..."
1012,BHB,2023-04-22 16:02:41,"{'beebower': 1, 'hood': 1, 'brinson': 1, 'dete..."

In [16]:
df_keywords_to_upload["keys"] = df_keywords_to_upload["keywords"].apply(lambda x: [x for x in x.keys()])

In [17]:
df_keywords_to_upload["values"] = df_keywords_to_upload["keywords"].apply(lambda x: [x for x in x.values()])

In [18]:
df_keywords_to_upload = df_keywords_to_upload.explode(["keys", "values"])

In [19]:
df_keywords_to_upload.drop(columns=["keywords"], inplace=True)
df_keywords_to_upload.rename(columns={"date_pulled": "date_time", "keys": "keyword", "values": "frequency"}, inplace=True)

In [20]:
df_keywords_to_upload.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4808 entries, 0 to 1012
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ticker_symbol  4808 non-null   object
 1   date_time      4808 non-null   datetime64[ns]
 2   keyword        4808 non-null   object
 3   frequency      4808 non-null   object
dtypes: datetime64[ns](1), object(3)
memory usage: 187.8+ KB

In [21]:
df_stock_mentions_by_day_to_upload = df_stock_mentions_by_day.drop(columns=["id", "rank", "name", "mentions_24h_ago", "rank_24h_ago", "keywords", "to_upload_in_stocks"])

In [23]:
df_stock_mentions_by_day_to_upload.rename(columns={"date_pulled": "date_time"}, inplace=True)

In [27]:
df_stock_mentions_by_minute.drop(columns=["id", "date_pulled"], inplace=True)

In [28]:
df_stock_mentions_by_minute.rename(columns={"date_time_mentions": "date_time"}, inplace=True)

In [29]:
df_stock_mentions_by_minute

                date_time  date_time_mentions  mentions ticker_symbol
0     2023-04-22 16:02:41 2023-04-21 16:11:04         7           SPY
1     2023-04-22 16:02:41 2023-04-21 16:21:04         3           SPY
2     2023-04-22 16:02:41 2023-04-21 16:31:04         5           SPY
3     2023-04-22 16:02:41 2023-04-21 16:41:04         4           SPY
4     2023-04-22 16:02:41 2023-04-21 16:51:04         6           SPY
...                   ...                 ...       ...           ...
34131 2023-04-22 16:02:41 2023-04-22 12:21:04         0           BHB
34132 2023-04-22 16:02:41 2023-04-22 12:31:04         0           BHB
34133 2023-04-22 16:02:41 2023-04-22 12:41:04         0           BHB
34134 2023-04-22 16:02:41 2023-04-22 12:51:04         0           BHB
34135 2023-04-22 16:02:41 2023-04-22 13:01:04         1           BHB

[34136 rows x 4 columns]

In [32]:
loader_engine = create_engine('postgresql+psycopg2://postgres:travelblogger24.de@host.docker.internal:5431/stocks_sentiment_dwh')

In [35]:
df_stocks_to_upload.to_sql(name="stock", con=loader_engine, if_exists="append", index=False)

13

In [36]:
df_stock_mentions_by_day_to_upload.to_sql(name="stock_mentions_by_day", con=loader_engine, if_exists="append", index=False)

13

In [37]:
df_keywords_to_upload.to_sql(name="keyword", con=loader_engine, if_exists="append", index=False)

808

In [44]:
df_stock_mentions_by_minute.to_sql(name="stock_mentions_by_minute", con=loader_engine, if_exists="append", index=False)

136

In [40]:
#df_stock_mentions_by_minute.drop(columns=["date_time"], inplace=True)

In [43]:
#df_stock_mentions_by_minute.rename(columns={"date_time_mentions": "date_time"}, inplace=True)